/* *{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(189, 189, 183);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
} 


button{
    height: 30px;
    width: 100px;
    background-color: aqua;
    font-size: medium;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    border-radius: 5px;

} */

/* .content{
    color: aqua;
}
.newClass{
    background-color:blanchedalmond;
}
.new{
    font-size: larger;
    background-color: blue;
    
} */